@import url("https://fonts.googleapis.com/css?family=Rubik");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Rubik";
}

a {
  color: #4a4a4a;
  font-size: 16px;
  text-transform: uppercase;
}

/* header */

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
}

.logo {
  width: 155px;
  margin-top: 10px;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 13px;
  width: 155px;
}

.item-blog {
  margin-right: 10px;
}

.item-contact {
  margin-left: 10px;
}

/* main */

.main {
  background-color: #3cdbc0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-family: "Rubik";
  color: white;
  font-size: 30px;
  text-align: center;
}

.title-inner {
  display: block;
}

/* tablet */

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin: 20px 0 20px 30px;
  }

  .list {
    margin: 20px 30px 20px 0;
  }

  .title {
    font-size: 40px;
    text-transform: capitalize;
  }
}
